main {
  margin: 0;
  .col {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.main {
  min-height: calc(100vh - 90px);
  .col {
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
  }
}
