/* NotFound.module.scss */
.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Arial, sans-serif";
  background-color: #f8f8f8; /* Цвет фона контейнера */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
  padding: 20px; /* Поля вокруг контента */
//   max-width: 400px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  text-align: center;
  transform: scale(0.9); /* Начальный масштаб для анимации */
  animation: scaleIn 0.5s ease-out forwards; /* Анимация масштабирования */
}

.notFoundIcon {
  font-size: 3em;
  margin-bottom: 16px;
  animation: shake 0.8s ease infinite;
}

.notFoundHeading {
  font-size: 2.5em;
  margin-bottom: 16px;
  color: #0d3cfb;

}

.notFoundText {
  font-size: 1.2em;
  color: #666;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(8px);
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}
